/packages
/Talk.Extensions/bin
/Talk.Extensions/obj
/Talk.Extensions/NuGet.exe
/Talk.Extensions/Talk.Extensions.nuspec
/Talk.Extensions/Talk.Extensions.1.0.nupkg
/.vs/Talk/v14/.suo
/Talk.Linq.Extensions/obj
/Talk.Linq.Extensions/bin
/Talk.AutoMap.Extensions/bin
/Talk.AutoMap.Extensions/obj
/Talk.AutoMap.Extensions/Talk.AutoMap.Extensions.1.0.0.nupkg
/Talk.AutoMap.Extensions/Talk.AutoMap.Extensions.nuspec
/Talk.AutoMap.Extensions/Talk.AutoMap.Extensions.1.0.1.nupkg
/Talk.AutoMap.Extensions/cmd.exe
/Talk.AutoMap.Extensions/Talk.AutoMap.Extensions - 副本.nuspec
/Talk.AutoMap.Extensions/Talk.AutoMap.Extensions.1.0.2.nupkg
/Talk.Extensions/Talk.Extensions.1.0.1.nupkg
/Talk.Linq.Extensions/Talk.Linq.Extensions.1.0.0.nupkg
/Talk.Linq.Extensions/Talk.Linq.Extensions.1.0.1.nupkg
/UnitTestTalk/obj
/UnitTestTalk/bin
/Talk.AutoMap.Extensions.Tests/bin
/Talk.AutoMap.Extensions.Tests/obj
/.vs/Talk/v15/.suo
/JQ插件/obj
/JQ插件/bin
/Talk.Cache.Tests/obj
/Talk.Cache.Tests/bin
/Talk.Cache/obj
/Talk.Cache/bin
/Talk/bin
/Talk/obj
/.vs
/Talk.AntiMalice/obj
/Talk.AntiMalice/bin
/Talk.Mail.Tests/*
/Talk.Mail/bin
/Talk.Mail/obj
/Talk.OAuthClient.Tests/obj
/Talk.OAuthClient.Tests/bin
/Talk.OAuthClient/bin
/Talk.OAuthClient/obj
/Talk.Redis.Tests/obj
/Talk.Redis.Tests/bin
/Talk.Redis/bin
/Talk.Redis/obj
