/packages
/Talk.Extensions/bin
/Talk.Extensions/obj
/Talk.Extensions/NuGet.exe
/Talk.Extensions/Talk.Extensions.nuspec
/Talk.Extensions/Talk.Extensions.1.0.nupkg
/.vs/Talk/v14/.suo
/Talk.Linq.Extensions/obj
/Talk.Linq.Extensions/bin
